.overall-container {
  display: flex;
}

a {
  color: rgb(218, 218, 218) !important;
}
a:hover {
  color: rgb(255, 255, 255) !important;
}
#NavBar {
  width: 256px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #000000;
  flex-shrink: 0;
  z-index: 0;
}

.player-area {
  background-color: bisque;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main-container {
  display: flex;
}

/* .side-bar {
  background-color: black;
  width: 270px;
  height: 100vh;
  flex-shrink: 0;
} */

/* // -----NavBar------ */

.logo-container {
  width: 100%;
  /* padding-inline: 30px; */
  margin-block: 5px;
}

.album-favorites {
  font-size: 0.9em;
  overflow: auto;
  height: 40vh;
  line-height: 30px;
}

/* -----Navbar------- */

.display-area {
  width: 100%;
  background-image: linear-gradient(
    180deg,
    #222222 0%,
    #1f1f1f 11.64%,
    #171717 25.66%,
    #161616 32.94%,
    #151515 35.98%,
    #131313 44.89%,
    #121212 55.22%,
    #121212 75.34%,
    #121212 85.45%,
    rgba(18, 18, 18, 1) 100%
  );
  height: 100vh;
  overflow: auto;
}

.nav-icon-size {
  width: 20px;
}

#album-to-line {
  border-bottom: solid 0.5px gray;
  width: 200px;
}

.album-favorites {
  font-size: 0.9em;
  height: 45vh;
  line-height: 30px;
  color: rgb(218, 218, 218);
  padding-inline-start: 17px;
  margin-block-end: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  overflow: auto;
  cursor: pointer;
}
.navbar-song-list:hover {
  color: rgb(255, 255, 255);
}

/* ------Bottom----- */

.bottom-container {
  display: flex;
  background-color: #282828;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-inline: 30px;
  color: white;
  justify-content: space-between;
  z-index: 1;
}

.playing {
  align-items: center;
  width: 300px;
  justify-content: space-evenly;
}

.player {
  width: 800px;
}

.other-functions {
  width: 270px;
}

.player,
.player-bar {
  align-items: center;
}

.player-bar {
  width: 600px;
  justify-content: space-evenly;
}

.progress {
  width: 500px;
  height: 5px !important;
  background-color: #535353;
}

.volume-bar {
  width: 140px;
  height: 5px;
  margin-inline-start: 10px;
}

.progress-bar {
  background-color: #ffffff;
}

.player-icons {
  width: 250px;
  justify-content: space-evenly;
}

.card {
  padding: 13px;
  background-color: #232222 !important;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 1s;
  min-height: 250px;
}
.card img:nth-child(2) {
  border-radius: 8px;
  box-shadow: 0px 0px 10px -3px black;
}

.play-on-hover {
  position: absolute;
  bottom: 35%;
  right: 10px;
  opacity: 0;
  transition: 0.5s;
}

.card:hover {
  background-color: #3d3d3d;
  transition: 1s;
}
.card:hover img {
  box-shadow: 0px 0px 0px 0px black;
}
.card:hover .play-on-hover {
  bottom: 40%;
  opacity: 1;
  transition: 0.5s;
}

.card-title {
  color: white;
  margin: 0;
  font-size: 1.1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card-text {
  color: #b3b3b3;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.9em;
  margin-block: 5px;
}

.row {
  row-gap: 30px;
}

.selected-album {
  border: solid #434343 5px !important;
  border-radius: 10px !important;
}

.playing-image {
  margin-inline-end: 10px;
  width: 70px;
}
.playing-image img {
  width: 100%;
}

.song-title {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 190px;
  margin-inline-end: 10px;
}
